/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.app-bar {
    background-color: #6200EA; /* Cor roxa para a barra */
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between; /* Ajustado para espaço entre itens */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative; /* Para o posicionamento do menu dropdown */
}

.app-bar h1 {
    margin: 0;
    font-size: 2em;
    flex-grow: 1; /* Permite que o título ocupe o espaço disponível */
    text-align: center; /* Centraliza o título */
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 2; /* Garante que o botão esteja acima do menu dropdown */
}

.menu-content {
    display: none;
    position: absolute;
    top: 70px;
    left: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1; /* Garante que o menu esteja abaixo do botão */
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item i {
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: calc(100vh - 70px); /* Altura total da viewport menos a altura da app bar */
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 20px;
}

.button {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button i {
    font-size: 3em;
    margin-bottom: 15px;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button span {
    font-size: 1.5em;
    color: #555;
}

.title-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
